@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* Remove default backticks from prose code blocks */
  .prose code::before,
  .prose code::after {
    content: "" !important;
  }
}
